{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stylejs.css' %}">
    <script src="{% static 'main.js' %}"></script>
    <title>Story 8</title>
    <!-- link JavaScript dari Bootstrap (base.html) -->
</head>
<body>
    <div class="custom-control custom-switch isi-page">
        <button type="button" class="btn btn-info" id="switch">Change Theme!</button>
        
    </div>
    <h1 class="sapaan">Hello, It's <kbd>Me</kbd> !</h1>
    <div class="isi-page">
    <div class="element">
    <button class="accordion" id="acr1"><span>
        <kbd class="move-up up1">Up</kbd> 
        <kbd class="move-down down1">Down</kbd>
    </span> Biodata Saya</button>
    <div class="panel" id="tab1">
        <dl class="row card-body">
            <dt class="col-sm-3">Nama</dt>
            <dd class="col-sm-9">Muhammad Luthfi Fahlevi</dd>
            <dt class="col-sm-3">NPM</dt>
            <dd class="col-sm-9">1906293215</dd>
            <dt class="col-sm-3">Jurusan</dt>
            <dd class="col-sm-9">Ilmu Komputer</dd>
            <dt class="col-sm-3">Hobi</dt>
            <dd class="col-sm-9">Bulutangkis</dd>
        </dl>
    </div>
    </div>
    
    <div class="element">
    <button class="accordion" id="acr2"><span>
        <kbd class="move-up up2">Up</kbd> 
        <kbd class="move-down down2">Down</kbd>
    </span>Activitas Saya</button>
    <div class="panel" id="tab2">
        <div class="card-body">
            <h5 class="card-title">Kuliah Online</h5>
            <p class="card-text">Belajar dan menempuh perkuliahan semester 2 secara online. 
                Kebijakan ini dibuat agar mencegah penyebaran Covid-19.</p>
            <h5 class="card-title">Ngoding</h5>
            <p class="card-text">Sesuai jurusan bro, hehe.</p>
        </div>
    </div>
    </div>

    <div class="element">
    <button class="accordion" id="acr3"><span>
        <kbd class="move-up up3">Up</kbd> 
        <kbd class="move-down down3">Down</kbd>
    </span> Pengalaman Organisasi/Kepanitiaan</button>
    <div class="panel" id="tab3">
        <div class="card-body">
            <h5 class="card-title">Paguyuban Harati UI KalTeng</h5>
            <p class="card-text"><ul>
                    <li>Kepala Bidang Acara & Sosialisasi</td>
                    <li>Wakil Kepala Bidang Kreasi Mahasiswa</td>
            </ul></p>
            <h5 class="card-title">FUKI</h5>
            <p class="card-text"><ul><li>Staff Departemen Qur'an</li></ul></p>
        </div>
    </div>
    </div>

    <div class="element">
    <button class="accordion" id="acr4"><span>
        <kbd class="move-up up4">Up</kbd> 
        <kbd class="move-down down4">Down</kbd>
    </span> Prestasi</button>
    <div class="panel" id="tab4">
    <div class="card-body">
        <p class="card-text">
            <ul>
                <li>Awardee Beasiswa Unggulan Masyarakat Berprestasi 2020 oleh Kemendikbud</li>
                <li>Juara 1 Cerdas Cermat Statistika BPS se-KalTeng 2018</li>
                <li>Juara 1 Mathematics Olympiad Competition UPR se-KalTeng-Sel 2018</li>
                <li>Juara 1 Olimpiade Fisika UPR se-KalTeng 2018</li>
            </ul>
    </div>
    </div>
    </div>
    </div>
    <p class="card-text"><small class="text-muted">Last updated: 17 April 2020 </small></p>
</body>
</html>
