{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Story 7</title>
</head>
<body>
    {% block content %}
    <div class="formnya">
        <form action="konfirmasi/" method="POST">
            {% csrf_token %}    
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <h1 class="status">Status:</h1>
    <br>
    <div class="container">
        <div class="row row-cols-2">
            {% for elemen in objs %}
        <div class="col" style="background-color: {{ elemen.color }};">
            <div class="media" style="background-color: {{ elemen.color }};">
                <img src="{% static 'picture.jpg' %}" class="mr-3" alt="unknown">
                <div class="media-body">
                  <h5 class="mt-0">{{ elemen.nama }}</h5>
                  <p>{{ elemen.pesan }}</p>
                </div>
            </div>
            <br>
        </div>
        <form action="{{ elemen.id }}/" method="POST">
            {% csrf_token %}
            <button class="btn btn-info" type="submit" name="submits">Change Color!</button>
        </form>
        {% endfor %}
        </div>
    </div>
    {% endblock%}
</body>
</html>