{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konfirmasi</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-6">Konfirmasi Pesan:</h1>
        <p class="lead">{{ pesan }}</p>
        <hr class="my-4">
        <p>{{ nama }}</p>
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="nama" value="{{ nama }}">
            <input type="hidden" name="pesan" value="{{ pesan }}">
            <tr>
                <td><a><input class="btn btn-primary btn-lg" type="submit" id="Ya" value="Ya!"></a></td>
                <td><a class="btn btn-danger btn-lg" href="/" role="button" id="Tidak">Tidak!</a></td>
            </tr>
        </form>
    </div>
</body>
</html>