<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'homepage:index' %}">Send Your Status</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'homepage:index' %}">Beranda <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{% url 'javasc:accordion' %}">About Me</a>
      </div>
    </div>
</nav>
{% block content %}
<!--Isi Page-->
{% endblock %}
</body>
</html>
