.mr-3 {
    width: 64px;
    height: auto;
}
.formnya {
    padding: 1.5rem 3rem;
}
.status {
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width:900px){
    .navbar-collapse{
        flex-grow: 0;
    }
    .navbar-expand-lg{
        justify-content: space-between;
    }
}